body {
    background-color: #4cc;
}

html,
body {
    margin: 0;
}

#myCanvas {
    display: block;
    border-radius: 20px;
}

.load-area {
    background-color: rgb(215, 243, 60);
    padding: 30px 20px 0px 20px;
    border-radius: 20px;
    text-align: center;
}

.invisible {
    display: none;
}

.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1 {
    color: #ca9b19;
}

p {
    font-size: 60px;
    color: #ca9b19
}